#card{
    display: grid;
    justify-content: center;
    
    position: absolute;
    margin: 10%;
    height: 80%;
    width: 80%;
    background-color: cyan;
    border-radius: 20px;
}

body{
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    font-size: 50px;
    display: grid;
    align-content: center;
    justify-content: center;

}
html {
    height: 100%;
    
}

#textArea{
    
    display: flex;
    justify-content: center;
    align-content: center;
    
    padding-top: 20%;
    position: absolute;
    white-space: pre-wrap; 
    word-break: break-all;
    width: 80%;
    
    margin: 10%;
}
#nextBTN{
    position: relative;
    background-color: yellow;
    border: 0;
    border-radius: 10px;
    
    width: 150px;
    height: 50px;

    
    
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    font-size: 30px;
}
#nextBTN:active{
    transform: scale(0.9);
}
#btnDiv{
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    
}